.card-list .card-container {
	margin-top: 25px;
	display: table;
}

.card-list .card:hover {
	cursor: pointer;
	background-color: black;
	color: white !important;
	text-decoration: none;
}

.card-list .card {
	border: 1pt solid black;
	text-align: center;
	height: 225px;
	display: table-cell;
	vertical-align: middle;
	color: black;
	padding: 10px;
}

.card-list .card-form {
	height: 225px;
	display: table-cell;
	vertical-align: middle;
}

.card-list .card-form {
	border: 1pt solid black;
	padding: 10px;
}

.small-btn {
	font-size: 10px !important;
}

.has-danger .text-help {
	color: #d9534f;
}

.card.question {

}

.card.answer {
	color: green;
	font-weight: 600;
}
.card.answer:hover {
	color: #98F438 !important;
	font-weight: 600;
}

.title {
	font-size: 20px;
}

.main-title {
	margin: 30px 0;
}

.detail {
	margin-bottom: 0;
}